<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

</html> -->


{% extends 'inicio.html' %}


{% block codigoaca %}
   

<body style="margin-left:270px; margin-top:85px;">
    <h1> Bienvenidos al chat global cafeteros usuario: {{user.username}}</h1>
    <form style="margin-left:-950px; margin-top:85px;" action="" id="form">

        <input type="text" name="message"/>
        <input type="submit" value="enviar">
    </form>

    <div style="color:red ;" id="messages"></div>

    <script type='text/javascript'>
        let url = `ws://${window.location.host}/chat/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
            if(data.type==='chat'){
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML('beforeend',`<div>
                            <p style="margin-left:75px; margin-top:55px;"> ${data.usuario}: ${data.message}</p>
                        </div>`)
                    
            }
        }
        
        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=>{
            e.preventDefault()
            let message = e.target.message.value;
            var usuario = '{{user.username}}';
            chatSocket.send(JSON.stringify({ 
               'message':message,
               'usuario':usuario
            
            }))
            form.reset()

        })
    </script>
</body>



{% endblock codigoaca %}