{% extends 'inicio.html' %}

{% block codigoaca %}
    <div  style="margin-left:270px; margin-top:75px;">
        <h1>NOSOTROS</h1>
            <div class="card" style="width: 18rem;" enctype="multipart/form-data">
                <img src="/media/avatares/WhatsApp_Image_2022-08-30_at_3.25.03_PM.jpeg" class="card-img-top" alt="Foto">
                <div class="card-body">
                <h5 class="card-title">Tomas Rodriguez Egaña</h5>
                <p class="card-text"> Hola soy Tomas Rodriguez tengo 26 años actualmente trabajo de productor audiovisual, 
                    futuro programador de backend.                    
                </p>
                </div>
            </div>
        <div style="margin-left:500px; margin-top:-675px;">
            <div class="card" style="width: 18rem;" enctype="multipart/form-data">
                <img src="/media/cafes/WhatsApp_Image_2022-04-01_at_9.31.03_AM.jpeg" class="card-img-top" alt="Foto">
                <div class="card-body">
                <h5 class="card-title">Tomas Martinho</h5>
                <p class="card-text">Hola buenas soy Tomas Martinho tengo 30 años actualmente trabajo en Telecomunicaciones con la esperanza 
                    de migrar de trabajo y pasar a rubro de la programacion.
                </p>
                </div>
            </div>
        </div>
    </div>
{% endblock codigoaca %}