{% extends 'inicio.html' %}


{% block codigoaca %}
    
    <div style="margin-left:270px; margin-top:85px;">
        <h1><strong style="color: burlywood">Listado de cafes</strong></h1>
        <hr>
        <ul>
                <li><strong>Nombre del cafe: </strong> {{cafe.nombre_tipo}}</li>
                <li> <strong>Ingredientes: </strong>{{cafe.ingredientes}}</li>
                <li> <strong>autor: </strong>{{cafe.autor}}</li>
                
        </ul>
        <hr>
    </div>
    
{% endblock codigoaca %}
