{% extends 'inicio.html' %}

{% block codigoaca %}

    
    <div style="margin-left:270px; margin-top:50px;">
        <br>
        <h1><strong style="color: burlywood">Listas de cafes </strong></h1>
        <hr>

            
            {% for cafes in lista_cafes %}
                <li><strong>Nombre del cafe:</strong> <a href="{% url 'detailcafe' cafes.id %}">{{cafes.nombre_tipo}}</a></li>
                <button><a href="{% url 'updatecafe' cafes.id %}">Editar</a></button>     
                <button><a href="{% url 'deletecafe' cafes.id %}">eliminar</a></button>      
            {% endfor %}
                
        <hr>
    </div>
    

{% endblock codigoaca %}