{% extends 'inicio.html' %}


{% block codigoaca %}
    <div style="margin-left:270px; margin-top:50px;">
        <br>
        <h1> <strong style="color: burlywood">USUARIOS </strong></h1>
        <hr>

            
            {% for usuario in lista_usuarios %}
                <li><strong>Nombre de usuario:</strong> <a href="{% url 'detailuser' usuario.id %}">{{usuario.username}} </a>
                <img src="{{url}}" height='55px' alt="imagen"> </li>            
            {% endfor %}
                

        <hr>
    </div>
{% endblock codigoaca %}
