{% extends 'inicio.html' %}

{% block codigoaca %}

    
    <div style="margin-left:270px; margin-top:50px;">
        <br>
        <h1><strong style="color: burlywood">Listas de cafes </strong></h1>
        <hr>

            
            {% for cafes in list_cafe %}
                <li><strong>Nombre del cafe:</strong> {{cafes.nombre_tipo}} <strong>Ingredientes de preparacion:</strong> {{cafes.ingredientes}}</li>            
            {% endfor %}
                

        <hr>
    </div>
    

{% endblock codigoaca %}