{% extends 'inicio.html' %}

{% block codigoaca %}

    
    <div style="margin-left:270px; margin-top:50px;">
        <br>
        <h1><strong style="color: burlywood">Listas de cafes </strong></h1>
        <hr>

            
            {% for cafes in lista_cafes %}

            <div class="card" style="width: 18rem;" enctype="multipart/form-data">
                <img src="cafes.imagen.url" class="card-img-top" alt="cafe">
                <div class="card-body">
                  <h5 class="card-title">{{cafes.nombre_tipo}}</h5>
                  <p class="card-text">{{cafes.ingredientes}}</p>
                  <a href="{% url 'detailcafe' user.id %}" class="btn btn-primary">detalles</a>
                  {% if cafes.autor == 'request.user' %}
                    <a href="{% url 'detailcafe' user.id %}" class="btn btn-primary">eliminar</a>
                    {% endif %}
                </div>
              </div>
            {% endfor %}
                
        <hr>
    </div>
    

{% endblock codigoaca %}