{% extends 'inicio.html' %}


{% block codigoaca %}
    <div style="margin-left:270px; margin-top:50px;">
        <br>
        <h1> <strong style="color: burlywood">PERFIL </strong>
        
        
        <a class="nav-link" href="{% url 'updateavatar' %}">  <img class="rounded-circle account-img" width='55px' src="{{ user.perfil.imagen.url }}"></a></h1>
       

        <hr>
                <li><strong>Nombre de usuario:</strong>{{user.username}} <strong>Email:</strong>{{user.email}} </li>
                <button class="btn btn-secondary"><a  class="nav-link" href="{% url 'updateuser' user.id %}">Editar</a></button>
                <button class="btn btn-secondary"><a class="nav-link" href="{% url 'deleteuser' user.pk %}">eliminar</a></button>
            
            <li><strong>Descripcion:</strong>{{user.perfil.bio}}</li>
            <button class="btn btn-secondary"><a class="nav-link" href="{% url 'updatebio' %}">cambiar bio</a></button>
            <div>
                
                {% if user.perfil.link %}
                    link: <a href="{{user.perfil.link}}">{{user.perfil.link}}}</a>
                {% endif %}
            </div>



        <hr>
    </div>
{% endblock codigoaca %}
