{% extends 'inicio.html' %}


{% block codigoaca %}
    <div style="margin-left:270px; margin-top:50px;">
        <br>
        <h1>Ingrese aqui el tipo de cafe y sus ingredientes</h1>
        <br>
        <hr>
        <form action="{% url 'TiposDeCafe' %}" method="POST">{% csrf_token %}

            <p>Cafe tipo: <input type="text" name="cafetipo"></p>
            <p>ingredientes: <input type="text" name="ingredientestipo"></p>

            <input type="submit" value="Cargar">

        </form>
        <hr>
    </div>
{% endblock codigoaca %}
    



