<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos De Cafe</title>
</head>
<body>
    <br>
    <h1>Ingrese aqui el tipo de cafe y sus ingredientes</h1>
    <br>
    <hr>
    <form action="{% url 'TiposDeCafe' %}" method="POST">{% csrf_token %}

        <p>Cafe tipo: <input type="text" name="cafetipo"></p>
        <p>ingredientes: <input type="text" name="ingredientestipo"></p>

        <input type="submit" value="Cargar">

    </form>
    <hr>
</body>
</html>